@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,900';
#gamificationMain svg text,
#gamificationMain svg tspan {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#gamificationMain .light {
    font-weight: 300;
}

#gamificationMain .bold {
    font-weight: 900;
}

#gamificationMain svg {
    width: 100%;
}

#gamificationMain {
    min-width: 900px;
    width: 50%;
    margin: 0 auto;
}

#gamificationMain .units p {
    margin: 0;
    margin-top: 5px;
}

#gamificationMain .unit {
    padding: 10px;
    margin-top: 15px;
    /*border: 10px solid transparent;
border-image: linear-gradient(to right, green, red) 1 1;
border-image: linear-gradient(to right, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 1) 97%) 1;*/
}


/*
.unit:nth-of-type(odd) {
    background-color: #f1f1f1;
}
*/

#gamificationMain .keySection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamificationMain .requiredContainer {
    flex-grow: 7;
}

#gamificationMain .optionalContainer {
    flex-grow: 3;
    margin-left: 15px;
}

#gamificationMain .bar {
    border: 3px solid black;
    height: 30px;
}

#gamificationMain .unitBar {
    height: 60px;
    display: flex;
}

#gamificationMain .unitGrade {
    display: inline;
    position: relative;
    /*position: relative;
top: -25px;
left: -10px;*/
}

#gamificationMain .innerBar {
    margin: 3px 0;
    height: calc(100% - 3px * 2);
}

#gamificationMain .innerBar:first-child {
    margin-left: 3px;
}

#gamificationMain .requiredContainer .innerBar,
#gamificationMain .unitContainer .innerBar:first-child {
    background-color: rgb(35, 147, 131);
}

#gamificationMain .optionalContainer .innerBar,
#gamificationMain .unitContainer .innerBar:nth-child(2) {
    background-color: rgb(171, 62, 32);
}

#gamificationMain img {
    margin-top: 30px;
    width: 100%;
}


/************ SVG CSS ***************/

#gamificationMain .white {
    fill: #FFF;
}

#gamificationMain .whiteOutline {
    stroke: #FFF;
}

#gamificationMain .redDark {
    fill: #F26454;
}

#gamificationMain .redOutline {
    stroke: #F26454;
}

#gamificationMain .redLight {
    fill: #F58E80;
}

#gamificationMain .blueVeryDark {
    fill: #3F6787;
}

#gamificationMain .blueDark {
    fill: #2D84C3;
}

#gamificationMain .blueOutline {
    stroke: #2D84C3;
}

#gamificationMain .blueLight {
    fill: #3CABE1;
}

#gamificationMain .yellowDark {
    fill: #F6BF59;
}

#gamificationMain .yellowOutline {
    stroke: #F6BF59;
}

#gamificationMain .yellowLight {
    fill: #F7E58F;
}

#gamificationMain .yellowDark2 {
    fill: #F8C15B;
}

#gamificationMain .outline {
    stroke-width: 4;
    fill: none;
}
